html,body {
  height: 100%;
}

.view{
  background: rgb(20,20,20);
  width: 100%;
  height: 100%;
  color: #bbb;
}

a{
  color: #bbb;
}

.absolute-center{
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

section{
  position: relative;
  width: 100%;
  height: 100%;
}

@import "cover";
@import "section";