section{
  background:url(../img/angularjs.png) no-repeat right bottom;
}

.top-title{
  padding: 10px 30px;
  background: #2b2b2b;
}

.content{
  width: 40%;
  height: 60%;
  min-width: 500px;
  min-height: 380px;
  overflow: hidden;
  font-size: 2rem;

  img{
    display: block;
    margin: auto;
  }
  ul{
    padding-left: 4rem;
    li{
      padding: 10px 0;
    }
  }
  ol{
    padding-left: 4rem;
    li{
      padding: 10px 0;
    }
  }
}
